beautifulsoup4
chromadb
google-generativeai
google-genai
huggingface-hub
langchain
langchain-chroma
langchain-community
langchain-huggingface
langchain-openai
matplotlib
numpy
onnxruntime
openai
pandas
psycopg2-binary
pydantic
python-dotenv
seaborn
sentence-transformers
torch
transformers
vnstock3
tabulate
pyarrow
streamlit
pymongo
langchain-milvus
langchain-elasticsearch
FlagEmbedding